asgiref==3.8.1
colorama==0.4.6
Django==5.2.1
docopt==0.6.2
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
PyJWT==2.10.1
pytest==8.3.5
pytest-django==4.11.1
pytest-watch==4.2.0
sqlparse==0.5.3
tzdata==2025.2
watchdog==6.0.0
