{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Grupo SMI</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link href="{% static 'global/images/icon.png' %}" rel="icon" />
    <link href="{% static 'global/css/reset.css' %}" rel="stylesheet" />
    <link href="{% static 'global/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet" />
    {% block head %}{% endblock %}
  </head>
  <body>
    
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <a href="{% url "home:home" %}" title="Recarregar a Página">
                <img src="{% static 'global/images/white_logo.png' %}" class="img-fluid" id="logo-img"
                    data-full-logo="{% static 'global/images/white_logo.png' %}"
                    data-icon-logo="{% static 'global/images/icon.png' %}"
                />
            </a>
        </div>
    
        <nav class="menu">
            {% block menu %}{% endblock menu %}
        </nav>
    
        <div class="bottom">
            {% block bottom %}{% endblock bottom %}
            <button id="toggle" title="Minimizar Menu Lateral"><i class="fas fa-bars"></i></button>
        </div>
    </div>
    
    <div class="main-content">
        {% block content %}{% endblock content %}
    </div>
    
    {% block scripts %}{% endblock scripts %}
    <script src="{% static 'global/js/sidebar.js' %}"></script>
    <script src="{% static 'global/js/global.js' %}"></script>
  </body>
</html>