<div class="sidebar" id="sidebar">
    <div class="logo">
        <a href="{% url "home:home" %}" title="Recarregar a Página">
            <img src="{% static 'global/images/white_logo.png' %}" class="img-fluid" id="logo-img"
                data-full-logo="{% static 'global/images/white_logo.png' %}"
                data-icon-logo="{% static 'global/images/icon.png' %}"
            />
        </a>
    </div>

    <nav class="menu">
        {% block menu %}{% endblock menu %}
    </nav>

    <div class="bottom">
        {% block bottom %}{% endblock bottom %}
        <button id="toggle" title="Minimizar Menu Lateral"><i class="fas fa-bars"></i></button>
    </div>
</div>

<div class="main-content">
    {% block content %}{% endblock content %}
</div>
<script src="{% static 'global/js/sidebar.js' %}"></script>