{% extends 'global/base.html' %}
{% load static %}

{% block title %}Indicadores{% endblock title %}

{% block head %}
        <link href="{% static 'dashboards/css/main.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
{% endblock head %}

{% block body %}
        <div class="layout">
            <aside class="sidebar" id="sidebar">
                <div class="logo">
                    <a href="/">
                    <img src="{% static 'global/images/white_logo.png' %}" class="img-fluid">
                    </a>
                </div>
                <hr>
                <nav class="nav-menu">
                    {% if dados|length > 0 %}
                    {% for setor, dashboards in dados.items %}
                        <div class="mb-3">
                        <button class="section-toggle text-white-50 bg-transparent border-0 w-100 text-start d-flex align-items-center justify-content-between" data-target="{{ setor|slugify }}">
                            <span class="text-uppercase">{{ setor }}</span>
                            <i class="bi bi-chevron-down"></i>
                        </button>           
                        <div id="{{ setor|slugify }}" class="section-panel mt-2">
                            {% for dashboard in dashboards %}
                            <button class="dashboard-btn" data-url="{{ dashboard.url }}">
                                <i class="bi bi-bar-chart me-2"></i>{{ dashboard.titulo }}
                            </button>
                            {% endfor %}
                        </div>
                        </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-warning d-flex align-items-center mt-4" role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        Você não tem acesso a nenhum indicador.
                    </div>
                    {% endif %}
                </nav>   
            </aside>
            
            <!-- Botão para ocultar/mostrar a sidebar -->
            <button id="toggle-sidebar" class="sidebar-toggle" title="Ocultar/Mostrar menu">
            <i class="bi bi-chevron-left"></i>
            </button>
            
            <main class="dashboard-view" id="dashboard-view">
            <iframe id="dashboard-frame" src="{% if dashboard_urls %}{{ dashboard_urls.0.url }}{% endif %}" frameborder="0"></iframe>
            </main>
        </div>
        <script src="{% static 'dashboards/js/main.js' %}"></script>
{% endblock body %}