{% extends 'global/base.html' %}
{% load static %}

{% block title %}Indicadores{% endblock title %}

{% block head %}
        <link href="{% static 'dashboards/css/main.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <a href="{% url "dashboards:home" %}">
                    <img src="{% static 'global/images/white_logo.png' %}" class="img-fluid" />
                </a>
            </div>

            <nav class="menu">
              {% if dados|length > 0 %}
                <ul class="menu-list">
                  {% for setor, dashboards in dados.items %}
                    <li class="menu-item">
                      <div class="sector-header">
                        <i class="fas fa-chart-line"></i>
                        <span class="text">{{ setor }}</span>
                        <i class="fas fa-chevron-right toggle-icon"></i>
                      </div>
                      <ul class="submenu">
                        {% for dashboard in dashboards %}
                          <li>
                            <a href="#" class="dashboard-link" data-url="{{ dashboard.url }}">
                              <i class="fas fa-tachometer-alt"></i>
                              <span class="text">{{ dashboard.titulo }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <div class="alert">
                  Não há indicadores<p>
                  disponíveis para você<p>
                  no momento
                </div>
              {% endif %}
            </nav>

            <div class="bottom">
                <a href="{% url "home:home" %}">
                  <i class="fas fa-arrow-left"></i>
                  <span class="text">Voltar</span>
                </a>
                <button id="toggle"><i class="fas fa-bars"></i></button>
            </div>
        </div>

        <div class="main-content">
            <iframe id="dashboard-frame" src="" frameborder="0"></iframe>
        </div>
        <script src="{% static 'dashboards/js/main.js' %}"></script>
{% endblock body %}