{% extends 'global/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
        <link href="{% static 'home/css/main.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
        <div>
            <a href="/ramais/">
                <h1>Ramais</h1>
            </a>
        </div>
        <div>
            <a href="/indicadores/">
                <h1>Indicadores</h1>
            </a>
        </div>
        <div>
            <a href="/admin/">
                <h1>Administração</h1>
            </a>
        </div>
        <script src="{% static 'home/js/main.js' %}"></script>
{% endblock body %}