{% extends 'global/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
        <link href="{% static 'home/css/home.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <a href="{% url "home:home" %}">
                    <img src="{% static 'global/images/white_logo.png' %}" class="img-fluid" />
                </a>
            </div>

            <nav class="menu">
                <a href="{% url "dashboards:home" %}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="text">Central de Dashboards</span>
                </a>
                <a href="{% url "ramais:home" %}">
                    <i class="fas fa-phone"></i>
                    <span class="text">Lista de Ramais</span>
                </a>
            </nav>

            <div class="bottom">
                <a href="{% url "home:change-password" %}">
                    <i class="fas fa-user-tie"></i>
                    <span class="text">{{ request.user }}</span>
                </a>
                <a href="{% url "home:logout" %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="text">Sair</span>
                </a>
                <button id="toggle"><i class="fas fa-bars"></i></button>
            </div>
        </div>

        <div class="main-content">
            <!-- Conteúdo principal -->
        </div>
        <script src="{% static 'home/js/home.js' %}"></script>
{% endblock body %}