{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'home/images/estrada.png' %}" type="image/x-icon" />
    <title>Home - Grupo SMI</title>
</head>
<body>
    <div>
        <a href="/ramais/">
            <h1>
                Ramais
            </h1>
        </a>
    </div>
    <div>
        <a href="/indicadores/">
            <h1>
                Indicadores
            </h1>
        </a>
    </div>
</body>
</html>