{% extends 'global/base_with_sidebar.html' %}
{% load static %}

{% block title %}Calendário{% endblock title %}

{% block head %}
        <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet"/>
        <link href="{% static 'calendar/css/main.css' %}" rel="stylesheet">
{% endblock head %}

{% block menu %}{% endblock menu %}

{% block bottom %}
  <a href="{% url "home:home" %}" title="Voltar ao Menu Principal">
    <i class="fas fa-arrow-left"></i>
    <span class="text">Voltar</span>
  </a>
{% endblock bottom %}

{% block content %}
        <div id="calendar-container">
          <div id="calendar" style="max-height: 870px"></div>
        </div>
{% endblock content %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  <script src="{% static 'calendar/js/main.js' %}"></script>
{% endblock scripts %}

