{% extends 'global/base.html' %}
{% load static %}

{% block title %}Redefinir senha{% endblock title %}

{% block head %}
        <link href="{% static 'home/css/auth.css' %}" rel="stylesheet">
        <script src="{% static 'home/js/auth.js' %}" defer></script>
{% endblock head %}

{% block body %}
<div class="container">
  {% if validlink %}
    <h2>Redefinir senha</h2>
    
    <div class="mensagem info">
      <i class="fas fa-circle-info"></i>
      <span>
        Digite sua nova senha abaixo
      </span>
    </div>

    {% if messages %} 
      {% for message in messages %} 
        {% if 'error' in message.tags %}
          <div class="mensagem erro">
            <i class="fas fa-circle-xmark"></i> 
            <span>{{ message }}</span>
          </div>            
        {% endif %}
      {% endfor%} 
    {% endif %}

    <form method="post" novalidate>
      {% csrf_token %}
      
      <div class="input-group">
        <i class="fas fa-lock input-icon"></i>
        <input type="password" name="new_password1" placeholder="Nova senha" id="nova-senha" 
               value="{{ form.new_password1.value|default_if_none:'' }}" 
               autocomplete="new-password" required/>
        <i class="fas fa-eye toggle-password" data-target="nova-senha" title="Mostrar/Ocultar senha"></i>
      </div>
    
      <ul class="regras">
        <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
        <li>Sua senha não pode ser uma senha comumente utilizada.</li>
        <li>Sua senha não pode ser inteiramente numérica.</li>
      </ul>
    
      <div class="input-group">
        <i class="fas fa-lock input-icon"></i>
        <input type="password" name="new_password2" placeholder="Confirme a nova senha" id="confirma-senha" 
               value="{{ form.new_password2.value|default_if_none:'' }}" 
               autocomplete="new-password" required/>
        <i class="fas fa-eye toggle-password" data-target="confirma-senha" title="Mostrar/Ocultar senha"></i>
      </div>

      <button type="submit" class="btn">Redefinir senha</button>
    </form>
  {% else %}
    <h2>Link inválido</h2>
    
    <div class="mensagem erro">
      <i class="fas fa-circle-xmark"></i>
      <span>
        Este link de redefinição de senha é inválido ou expirou.
      </span>
    </div>

    <a href="{% url "home:forgot-password" %}">
      <button type="button" class="btn">Solicitar nova redefinição</button>
    </a>
  {% endif %}

  <a href="{% url "home:login" %}">
    <div class="link-voltar">Voltar ao login</div>
  </a>
</div>
{% endblock body %}