.bottom a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background 0.2s;
}

.bottom a:hover {
  background-color: #33373c;
}

.bottom .text {
  margin-left: 12px;
}

#calendar-container {
  padding: 15px 15px 0px 15px;
  height: calc(100vh - 15px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fc .fc-header-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0 !important;
  padding-bottom: 10px;
}

.fc .fc-view-harness {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.fc .fc-toolbar-title {
  font-size: 1.5rem;
}

.fc .fc-day-today {
  background-color: #0000000b !important;
}

.fc .fc-timegrid-now-indicator-line {
  border-color: #1f2327 !important;
}

.fc-timegrid-now-indicator-arrow {
  border-color: #00000000 !important;
}
