#calendar-container {
  padding: 20px;
}

.fc .fc-toolbar-title {
  font-size: 1.5rem;
}

.bottom a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background 0.2s;
}

.bottom a:hover {
  background-color: #33373c;
}

.bottom .text {
  margin-left: 12px;
}
