<div class="container" id="tela-senha">
  <h2>Troca de Senha</h2>
  {% if is_required %}
    <div class="mensagem info">
      <i class="fas fa-circle-info"></i>
      <span>
        Para sua segurança, é necessário alterar sua senha no primeiro acesso
      </span>
    </div>
  {% endif %}

  {% if messages %} 
    {% for message in messages %} 
      {% if 'error' in message.tags %}
        <div class="mensagem erro">
          <i class="fas fa-circle-xmark"></i> 
          <span>{{ message }}</span>
        </div>            
      {% endif %}
      {% if 'warning' in message.tags %}
        <div class="mensagem aviso">
          <i class="fas fa-circle-exclamation"></i> 
          <span>{{ message }}</span>
        </div>            
      {% endif %}
      {% if 'info' in message.tags %}
        <div class="mensagem info">
          <i class="fas fa-circle-info"></i> 
          <span>{{ message }}</span>
        </div>            
      {% endif %}
      {% if 'success' in message.tags %}
        <div class="mensagem sucesso">
          <i class="fas fa-circle-check"></i> 
          <span>{{ message }}</span>
        </div>            
      {% endif %}
    {% endfor%} 
  {% endif %}

  <form method="post" novalidate>
    {% csrf_token %}
    <div class="input-group">
      <i class="fas fa-lock input-icon"></i>
      <input type="password" name="old_password" placeholder="Senha Atual" id="senha-atual" value="{{ form.old_password.value|default_if_none:'' }}"/>
      <i class="fas fa-eye toggle-password" data-target="senha-atual" title="Mostrar/Ocultar senha"></i>
    </div>
  
    <div class="input-group">
      <i class="fas fa-lock input-icon"></i>
      <input type="password" name="new_password1" placeholder="Nova Senha" id="nova-senha" 
             value="{{ form.new_password1.value|default_if_none:'' }}" 
             autocomplete="new-password"/>
      <i class="fas fa-eye toggle-password" data-target="nova-senha" title="Mostrar/Ocultar senha"></i>
    </div>
  
    <ul class="regras">
      <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
      <li>Sua senha não pode ser uma senha comumente utilizada.</li>
      <li>Sua senha não pode ser inteiramente numérica.</li>
    </ul>
  
    <div class="input-group">
      <i class="fas fa-lock input-icon"></i>
      <input type="password" name="new_password2" placeholder="Confirme a nova senha" id="confirma-senha" 
             value="{{ form.new_password2.value|default_if_none:'' }}" 
             autocomplete="new-password"/>
      <i class="fas fa-eye toggle-password" data-target="confirma-senha" title="Mostrar/Ocultar senha"></i>
    </div>
  
    <button type="submit" class="btn">Salvar nova senha</button>
  </form>

  {% if not is_required %}
    <a href="{% url "home:home" %}">
      <div class="link-voltar">Voltar</div>
    </a>
  {% endif %}
</div>
