{% extends 'global/base.html' %}
{% load static %}

{% block title %}Ramais{% endblock title %}

{% block head %}
        <link href="{% static 'ramais/css/main.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
        <div id="content" class="container">
            <div class="header">
                <a href="/">
                    <img src="{% static 'global/images/black_logo.png' %}" alt="Logo SMI" class="logo" id="logo-img" />
                </a>
                <div class="header-text">
                    <h1>Lista de Ramais</h1>
                    <div class="search-container">
                        <input type="text" id="search-input" placeholder="Pesquise aqui..." oninput="filtrarRamais()"/>
                    </div>
                </div>
            </div>
            <table id="lista-ramais">
            <thead>
                <tr>
                <th><div class="header-cell">Nome</div></th>
                <th><div class="header-cell">Ramal</div></th>
                <th><div class="header-cell">Setor</div></th>
                <th><div class="header-cell">Máquina</div></th>
                </tr>
            </thead>
            <tbody></tbody>
            </table>
            <div id="paginacao" class="paginacao-container"></div>
        </div>
        <script src="{% static 'ramais/js/main.js' %}"></script>
{% endblock body %}